.grade-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.grade-table__col-2 {
  padding-left: 56px;
}

.grade-table__heading-row {
  background-color: var(--table-gray);
}

.grade-table__heading-text:last-child {
  text-align: right;
}
