.grade-table {
  margin-top: 40px;
  width: 333px;
  font-size: 2.2rem;
  border-collapse: collapse;
  text-align: center;
}

.grade-table__heading-row {
  background-color: var(--teritary-color);
  color: #ccd4de;
  height: 50px;
}
