.request-btn {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.6rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-btn__img {
  width: 17px;
  height: 17px;
}

.request-btn--active {
  border: 1px solid green;
}
.request-btn--inactive {
  border: 1px solid lightgray;
}

@media (min-width: 768px) {
  .request-btn {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 1024px) {
  .request-btn {
    width: 52px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .request-btn {
    width: 56px;
    height: 56px;
  }
}
