.header-box {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 20px 20px;
}

.profile-box {
  display: flex;
  align-items: center;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(179, 179, 179);
}
.profile-name {
  margin-left: 10px;
  color: rgb(23, 23, 23);
  font-size: 1.8rem;
}

.request-btn-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
