.quarters-bar {
  height: 30px;
  width: 100%;
  display: flex;
}

.quarter-box {
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgray;
}
