:root {
  --secondary-color: #d9dee4;
  --dark-gray: #4b4b4b;
  --primary-color: #edeef0;
  --table-border: 9px;
  --teritary-color: #3E53A0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html{
  font-size: 62.5%;
}

body {
  color: #323955;
  font-family: "Inter", sans-serif;
}

.error-text {
  color: red;
}
