:root {
  --secondary-color: #d9dee4;
  --dark-gray: #4b4b4b;
  --primary-color: #edeef0;
  --table-border: 9px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  color: #323955;
}

.error-text {
  color: red;
}
